<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sist.web.dao.FoodMapper">
  <select id="foodListData" resultType="FoodVO" parameterType="hashmap">
    SELECT fno,name,poster,num
    FROM (SELECT fno,name,poster,rownum as num
    FROM (SELECT fno,name,poster
    FROM project_food ORDER BY fno ASC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="foodTotalPage" resultMap="int">
    SELECT CEIL(COUNT(*)/12.0) FROM project_food
  </select>
 </mapper>